

<section class = beers>  
{{#each beers}}
 <article>  
<div>
       <img src="{{image_url}}">
</div>
<div>

 <h2> {{name}} </h2>
  <em>{{tagline}} </em> 
<p> {{description}}</p>
          

</div>    


 </article>
  
 {{/each}}           
 </section>
